.wrap {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* safari : 모바일 사파리 브라우저 화면에서 
높이값을 100vh로 줄 경우, 주소창이 하단을 가리는 현상을 해결하기 위한 CSS
*/
@supports (-webkit-touch-callout: none) {
  .wrap {
    min-height: -webkit-fill-available;
  }
}

footer {
  background: skyblue;
  height: 5em;
}

.max-width {
  width: min(calc(var(--max-width) * 1rem), calc(100% - 10vw));
  margin: auto;
}
