main {
  flex-grow: 1;
}
.visual {
  position: relative;
  background: #000;
  height: clamp(40rem, 80 / var(--max-width) * 100vw, 80rem);
  display: flex;
  align-items: center;
  justify-content: center;
}
.visual img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.5;
}

.visual h2 {
  position: relative;
  z-index: 10;
  font-size: clamp(4em, 20 / var(--max-width) * 100vw, 20rem);
  color: rgba(var(--rgb-light), 0.2);
  font-weight: bold;
}
